.product {
   position: relative;
   min-width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #eee;
   /* border: 2px solid red; */
   border-radius: 10px;
   padding: 25px;
}
.product:hover {
   cursor: pointer;
}

.product-link {
   text-decoration: none;
   color: unset;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.product-image {
   width: 250px;
   margin-bottom: 5px;
   border-radius: 10px;
}

.product-name {
   margin-bottom: 5px;
}

.product-price {
   margin-bottom: 5px;
   font-size: 1.5rem;
}

.product-add-to-basket {
   font-size: 1.1rem;
   padding: 5px;
}
.product-add-to-basket:hover {
   cursor: pointer;
}
