#profile-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
#profile-comp-center {
   display: flex;
}

#profile-nav {
   width: 170px;
   border: 2px solid red;
   padding: 5px;
}

.profile-nav-link > button {
   font-size: 1rem;
   border: none;
   background-color: unset;
   margin-bottom: 10px;
}
.profile-nav-link > button:hover {
   cursor: pointer;
   color: var(--mauve);
}
