#special-offers-container {
   width: 100vw;
   height: 600px;
   background: rgb(121, 9, 105);
   background: linear-gradient(
      90deg,
      rgba(121, 9, 105, 1) 50%,
      rgba(71, 6, 140, 1) 100%
   );
   display: flex;
   align-items: center;
   justify-content: center;
}
#special-offers-wrapper {
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 5px solid white;
   background-color: white;
   border-radius: 10px;
}
#special-offers-description {
   display: inline-block;
   background-color: white;
   width: 300px;
}
#special-offers-image {
   display: inline-block;
   border-radius: 10px;
}
