@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   --mauve: #f0c0f4;
   --blue-jeans: #49b6ff;
   --sky-magenta: #d264b6;
   /* font-family: "Mochiy Pop P One", sans-serif; */
}

html {
   overflow-x: hidden;
}
@media (max-width: 1500px) {
   html {
      overflow-x: unset;
   }
}

input:focus {
   outline: none;
}

#container {
   width: 100%;
   margin-bottom: 350px;
}
