#category-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

#category-list {
   list-style-type: none;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 100px;
   gap: 25px;
}

.category-list-item {
   display: flex;
   flex-direction: column;
   background-color: #eee;
   padding: 25px;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
}

.product-link {
   text-decoration: none;
   color: unset;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.category-image {
   max-width: 150px;
   max-height: 200px;
   margin-bottom: 5px;
   border-radius: 10px;
}

.category-name {
   margin-bottom: 5px;
}

.category-price {
   margin-bottom: 5px;
   font-size: 1.5rem;
}

.product-add-to-basket {
   font-size: 1.1rem;
   padding: 5px;
}
.product-add-to-basket:hover {
   cursor: pointer;
}
